<!DOCTYPE html>
<html>
  <head>
    <title>Nasdaq Stock Price Checker</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
  </head>
  
  <body>
    
    <header class="container">
      <h1>Information Security Project: Nasdaq Stock Price Checker</h1>
    </header>
    
    <main class="container">
      <h2>User Stories</h2>
      <ol class="user-stories">
        <li>Set the content security policies to only allow loading of scripts and css from your server.</li>
        <li>I can <strong>GET</strong> <code>/api/stock-prices</code> with form data containing a Nasdaq <code>stock</code> ticker and recieve back an object <code>stockData</code>.</li>
        <li>In <code>stockData</code>, I can see the <code>stock</code> (string, the ticker), <code>price</code> (decimal in string format), and <code>likes</code> (integer).</li>
        <li>I can also pass along field <code>like</code> as <code>true</code> (boolean) to have my like added to the stock. Only 1 like per <code>ip</code> should be accepted.</li>
        <li>If I pass along <code>2 stocks</code>, the return object will be an <code>array</code> with both stock's info but instead of likes, it will display <code>rel_likes</code> (the difference between the likes on both) on both.</li>
        <li>A good way to receive current price is the following external API: <code>https://api.iextrading.com</code></li>
        <li>All 5 functional tests are complete and passing.</li>
      </ol>
      
      <h3>Example usage:</h3>
      <code>GET /api/stock-prices?stock=goog</code><br>
      <code>GET /api/stock-prices?stock=goog&amp;like=true</code><br>
      <code>GET /api/stock-prices?stock=goog&amp;stock=msft</code><br>
      <code>GET /api/stock-prices?stock=goog&amp;stock=msft&amp;like=true</code><br>
      
      <h3>Example return:</h3>
      <code>{"stockData": {"stock":"GOOG", "price":"786.90", "likes":1}}</code><br>
      <code>{"stockData": [{"stock":"MSFT", "price":"62.30", "rel_likes":-1}, {"stock":"GOOG", "price":"786.90", "rel_likes":1}]}</code>
      
      <hr>
      
      <h2>API:</h2>
      
      <form id="singleStock" class="border" action="/api/stock-prices" method="get">
        <h3>Get single price and total likes:</h3>
        <p><code>GET /api/stock-prices</code></p>
        <input type="text" name="stock" placeholder="goog" required="" id="singleInput">
        <input type="checkbox" name="like" value="true" id="singleLike">Like<br>
        <input type="submit" value="Get Stock">
        <p><strong>Result:</strong> <span id="singleResult"></span></p>
      </form>
      
      <form id="multiStock" class="border" action="/api/stock-prices" method="get">
        <h3>Compare and get relative likes:</h3>
        <p><code>GET /api/stock-prices</code></p>
        <input type="text" name="stock" placeholder="goog" required="" id="multiInputFirst">
        <input type="text" name="stock" placeholder="msft" required="" id="multiInputSecond">
        <input type="checkbox" name="like" value="true" id="multiLike">Like both<br>
        <input type="submit" value="Get Stocks">
        <p><strong>Result:</strong> <span id="multiResult1"></span></p>
        <p><strong>Result:</strong> <span id="multiResult2"></span></p>
      </form>
      
      <p>
        <h3>Result:</h3>
        <code id="jsonResult"></code>
      </p>
      
    </main>
    
    <footer class="container">
      <hr>
      <p>
        by <a href="https://github.com/Myrmidonut/fcc_infosec_stock_price_checker" title="GitHub Repository" target="_blank">Frederik</a> | <a href="https://learn.freecodecamp.org/" title="Learn to code at freeCodeCamp" target="_blank">freeCodeCamp</a>
      </p>
    </footer>
    
    <script src="script.js"></script>
    
  </body>
</html>